/* Common styles */
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

/* Footer styles */
.footer {
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
}

.footer > .logo-footer img {
    width: 180px;
    height: 100%;
    /* filter: brightness(50%); */
    opacity: 0.5;
}

.footer >.footer-phone-hours span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}

.footer > .footer-phone-hours > .hours {
    font-size: 0.8em;
    color: #cea135;
    text-transform: uppercase;
}

.footer > .links-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
}

.footer > .social-media-icons-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer > .social-media-icons-wrapper a {
    font-size: 1.5em;
    color: #cbcbcb;
    transition: .5s;
}

.footer > .social-media-icons-wrapper a:hover {
    color: #cea135;
}

.footer > .copyright-wrapper {
    margin-bottom: 42px;
    font-size: 0.7em;
    color: #858585;
}

/* Skewed header */
.skewed-header {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.skewed-header > .header-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
    filter: brightness(50%);
}

.skewed-header > .skewed-header-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content> .heading-wrapper {
    background-color: #cea135;
    color: #11122b;
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 175px;
    padding: 10px;
    text-align: center;
}

/* page cointainer*/
.page-container {
    display: flex;
    justify-content: center;
}

.page-container > .content-wrapper {
    width: 75%;
}

.page-container > .content-wrapper > #chef {
    width: 350px; 
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}

.page-container > .content-wrapper p {
    letter-spacing: 1px;
    line-height: 30px;
}

/* Square grid styles */
.squares-wrapper {
    display: flex;
    justify-content: center;
}

.squares-wrapper > .squares {
    width: 75%;
}

.squares-wrapper > .squares > .square {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-top: -4px;
}

.square > .img-wrapper img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.square > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
}

.square > .square-text-wrapper h1 {
    color: #cea135;
}

/* healpers */
.spacer60 {
    height:60px;
    width: 100%;
}

.spacer10 {
    height: 10px;
    width: 100%;
}

/*common nav styles*/
body {
    margin: 0px;
    font-family: 'Roboto' , sans-serif;
}

/* flexbox nav styles*/
.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /* Flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .left-column > .icon {
    margin-right: 15px;
}

.navigation-wrapper > .left-column > .icon i {
    font-size: 2em;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.links-wrapper > .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
}

.navigation-wrapper > .right-column > .adress-wrapper {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.navigation-wrapper > .center-column > .adress-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}

.navigation-wrapper > .center-column > .banner-image img {
    width: 216px;
    height: 100%;
}

.links-wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}

/* Hero section styles*/
.hero-section {
    background-image: url(../photos/fries-hero-bg.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading {
    padding: 1px 20px;
    background-color: #11122b;
    color: #cbcbcb;
    width: 290px;
    border-radius: 2px;
}

.hero-section > .bottom-heading {
    background-color: #cea135;
    color: #11122b;
    padding: 1px 20px;
    margin-top: 15px;
    width: 107px;
    border-radius: 2px;
}

/*Features section styles*/
.features-section {
    height:400px;
    background-image: url(../photos/fries-multiply-bg.jpg);
    background-color: #cea135;
    border-top: 10px solid white;
    color: #11122b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu Condensed",sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgba(0,0,0,0.58);
}

.features-section > .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.features-section > .columns-wrapper >.column {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.features-section > .columns-wrapper >.column:hover {
    border-bottom: 5px solid #11122b;
}

.features-section > .columns-wrapper > .column :nth-child(1) {
    font-size: 3em;
}

.features-section > .columns-wrapper > .column :nth-child(2) {
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}

.features-section > .columns-wrapper > .column :nth-child(2):hover {
    letter-spacing: 1px;
}

.features-section > .columns-wrapper > .column :nth-child(3) {
    letter-spacing: 2px;
}

/* common nav styles */
.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /* Flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

/* Left column styles */
.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .left-column > .icon {
    margin-right: 15px;
}

.navigation-wrapper > .left-column > .icon i {
    font-size: 2em;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #858585;
    font-size: 0.8em;
}

.links-wrapper > .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
}

/* Center column styles */
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}

.navigation-wrapper > .center-column > .banner-image img {
    width: 216px;
    height: 100%;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}

.links-wrapper > .nav-link a{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
} 

.links-wrapper > .nav-link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}

/* Right column styles */
.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .right-column > .adress-wrapper {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: right;
}

.navigation-wrapper > .right-column > .adress-wrapper a {
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .adress-wrapper a:hover {
    color: #cea135;
}

.navigation-wrapper > .right-column > .contact-icon {
    margin-left: 15px;
    font-size: 2em;
}

.navigation-wrapper > .right-column > .contact-icon a {
    color: #cbcbcb; 
    transition: 0.5s;gb
}

.navigation-wrapper > .right-column > .contact-icon a:hover {
    color: #cea135;
}

/*common nav styles*/
body {
    margin: 0px;
    font-family: 'Roboto' , sans-serif;
}


.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /* Flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

/* Left column styles */
.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .left-column > .icon {
    margin-right: 15px;
}

.navigation-wrapper > .left-column > .icon i {
    font-size: 2em;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #858585;
    font-size: 0.8em;
}

.links-wrapper > .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
}

/* Center column styles */
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}

.navigation-wrapper > .center-column > .banner-image img {
    width: 216px;
    height: 100%;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}

.links-wrapper > .nav-link a{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
} 

.links-wrapper > .nav-link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}

/* Right column styles */
.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .right-column > .adress-wrapper {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: right;
}

.navigation-wrapper > .right-column > .adress-wrapper a {
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .adress-wrapper a:hover {
    color: #cea135;
}

.navigation-wrapper > .right-column > .contact-icon {
    margin-left: 15px;
    font-size: 2em;
}

.navigation-wrapper > .right-column > .contact-icon a {
    color: #cbcbcb; 
    transition: 0.5s;gb
}

.navigation-wrapper > .right-column > .contact-icon a:hover {
    color: #cea135;
}

.anchor-link {
    text-decoration: none;
}

.anchor-link {
    outline: none;
}

.anchor-link h1::before {
    /* content: "" */
}

.anchor-link h1::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0c1";
    font-weight: 900;
}

.contact-grid-wrapper {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 100px;
}

.company-metadata-sidebar-wrapper > .logo img {
    width: 100%;
    margin-bottom: 20px;
}

.company-metadata-sidebar-wrapper > .company-details-wrapper {
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 1.25em;
    border-left: 10px;
    border-color: black;
}

.company-metadata-sidebar-wrapper > .company-details-wrapper i {
    color: #cea135;
}

/* forms */
.form > .form-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid #11122b;
    width:100%;
    display: block;
    transition: all 0.3s;
}

.form input:focus, .form{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
    border-bottom: 3px solid #cea135;
}

.form textarea {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    border-radius: 3px;
    border: 3px solid #11122b;
    font-size: 1.5rem;
    font-family: inherit;
    color: color;
    padding: 1.5rem 2.5rem;
    transition: all 0.3s;
}

.form textarea:focus {
    outline: none;
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.1);
    border: 3px solid #cea135;
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
    color: #11122b;
}

.form input:focus:-webkit-input-placeholder, .form textarea:focus:-webkit-input-placeholder {
    color: transparent;
}

/* Buttons */
.btn {
    background-color: #cea135;
    color: #11122b;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #cea135;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
}

.center-btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn:active {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

/* label */
.form label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: #cea135;
    visibility: hidden;
    opacity: 0;
}

.form input:focus + label , .form textarea:focus + label {
    opacity: 1;
    visibility: visible;
    transform: translate(1rem);
}

/* Media Quiries .css */
@media (max-width: 615px) {
    /* home */
    .navigation-wrapper {
        flex-direction: column;
        height: 100%;
    }

    .navigation-wrapper > .left-column {
        order: 2;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .navigation-wrapper > .center-column {
        order: 1;
        width: 100%;
    }

    .navigation-wrapper > .right-column {
        order: 3;
        margin-top: 15px;
    }

    .links-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .links-wrapper > .nav-link {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
        width: 100%;
    }

    .hero-section {
        padding: 50px 10px;
    }

    .features-section {
        height: 100%;
    }

    .features-section> .columns-wrapper {
        width: 100%;
        flex-direction: column;
    }
    .footer {
        height: 100%;
    }
    /* about */
    .skewed-header >.skewed-header-wrapper >.skewed-header-content {
        flex-direction: column;
    }
    .skewed-header > .header-bg {
        background-size: 550px;
    }
    .page-container {
        padding-left: 21px;
        padding-right: 21px;
    }

    .content-wrapper > #chef {
        margin: 0px 0px 25px 0px !important;
        width: 100% !important;
    }
    .square {
        grid-template-columns: 1fr !important;
    }

    .square > .square-text-wrapper {
        order: 1;
    }

    .square > .img-wrapper {
        order: 2;
    }
    /* contact */
    .contact-grid-wrapper {
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .form input {
        padding: 1.5rem 0rem;
    }

    .form textarea {
        padding: 1.5rem 0rem;
    }
}
